.nav-background {
  background: rgb(205, 8, 8);
  background: linear-gradient(
    90deg,
    rgba(205, 8, 8, 1) 0%,
    rgba(205, 8, 8, 1) 35%,
    rgba(255, 0, 0, 0.06032482598607891) 100%
  );
  font-family: "Roboto", sans-serif;
}

.navbar-brand {
  font-size: 1.75rem;
  text-shadow: 1px 1px 2px #b7b7b7;
  color: white;
}

.list {
  list-style: none;
}

.iframe {
  width: "560";
  height: "315";
}

.topintro {
  padding-top: 50px;
}

.heading{
  font-weight: 400;
  font-size: 1.75rem;
}

.border {
  border-radius: 15px;
}